html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  color: #202C39;
  font-size: larger;
}

body {
  width: inherit;
  padding: 0px;
  margin: 0px;
}

h3 {
  margin: 0px;
}

img {
  width: 200px;
}

.bigContent {
  margin: auto;
  display: flex;
}

p {
  margin: 0;
  padding: 0;
}

header {
  background-color: #BABD8D;
  padding: 20px;
  width: inherit;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 250%;
  color: white;
}

button {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5%;
  border: none;
  font-size: medium;
  background-color: #BABD8D;
  color: white;
  margin-top: 5%;
}

.productCard>button {
  transform: translate(25%, 0%);
}

#Products {
  width: 80%;
}

#displayProduct {
  margin-left: -1.5%;
  display: flex;
  flex-wrap: wrap;
}

#displayProduct::after {
  content: "";
  flex: auto;
}

#Cart {
  display: block;
  width: 25%;
  padding-left: 20px;
  border-left: solid 1px #eceacb;
}

#Cart>span {
  width: inherit;
}

#Client {
  display: block;
  width: 19%;
  padding-right: 20px;
  border-right: solid 1px #eceacb;
}

#Client h3 {
  margin-bottom: 5%;
}



input {
  margin: 5px 10px;
  filter: grayscale(1);
  transform: scale(1.3);
}

.contentarea {
  margin: 0% 1%;
}

.nameProd {
  font-weight: bold;
  font-size: large;
  margin-bottom: 10%;

}

.priceCart {
  position: absolute;
  right: 5%;
}

#totalPrice {
  font-weight: 700;
  font-size: large;
}

#price {
  font-weight: 800;
  position: absolute;
  right: 5%;
}

/* code from https://codepen.io/andrewsims/pen/mQoYwz */
.productCard {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  border-radius: 4px;
  padding: 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #eceacb;
}

.productCard:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}